<p>greenhouses works!</p>

<div class="greenhouse-list">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Express Greenhouse</td>
          <td>New York</td>
          <td>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
        <tr>
          <td>Chinese Greenhouse</td>
          <td>Hong Kong</td>
          <td>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="add-btn">+</button>
  </div>
  