<p>pots works!</p>
<div class="pots-list">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pot A</td>
          <td>Small</td>
          <td>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
        <tr>
          <td>Pot B</td>
          <td>Large</td>
          <td>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="add-btn">+</button>
  </div>
  