<p>plants works!</p>
<div class="plants-list">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rose</td>
          <td>Flower</td>
          <td>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
        <tr>
          <td>Oak</td>
          <td>Tree</td>
          <td>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="add-btn">+</button>
  </div>
  